body {
    background-color: #f8f9fa;
}
.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}
h2 {
    color: #343a40;
}
label.form-label {
    font-weight: bold;
}
.form-row {
    margin-bottom: 20px;
}
.datepicker {
    width: 100%;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.text-center {
    text-align: center;
}
#message {
    font-weight: bold;
}
/* Additional Styling */
.form-group {
    margin-bottom: 20px;
}
.form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
    height: 40px;
    margin-right: 10px;
}

.navbar-title {
    display: flex;
    align-items: center;
    color: white;
}

.navbar-title h1 {
    font-size: 1.2rem;
    margin: 0;
}

.navbar-user {
    display: flex;
    align-items: center;
}

.navbar-username {
    margin-right: 20px;
    color: white;
    font-weight: bold;
}

.navbar-logout {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-logout:hover {
    background-color: #d1553f;
}
.navbar-job-button-container {
    padding-right: 10px; /* Adjust this value as needed */
}

.navbar-job-button {
    color: red;
    padding: 0 5px;
}
